<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.qabel.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission
        android:name="de.qabel.android.QABELSERVICE"
        android:label="Use QabelService"
        android:protectionLevel="dangerous" />

    <permission
        android:name="de.qabel.android.QABEL_READ_RESOURCES"
        android:label="Read Qabel Resources"
        android:protectionLevel="dangerous" />
    <permission
        android:name="de.qabel.android.QABEL_WRITE_RESOURCES"
        android:label="Write Qabel Resources"
        android:protectionLevel="dangerous" />

    <permission
        android:name="de.qabel.android.QABEL_READ_CONTACTS"
        android:label="Read Qabel Contacts"
        android:protectionLevel="dangerous" />
    <permission
        android:name="de.qabel.android.QABEL_WRITE_CONTACTS"
        android:label="Write Qabel Contacts"
        android:protectionLevel="dangerous" />

    <permission
        android:name="de.qabel.android.QABEL_READ_IDENTITIES"
        android:label="Read Qabel Identities"
        android:protectionLevel="dangerous" />
    <permission
        android:name="de.qabel.android.QABEL_WRITE_IDENTITIES"
        android:label="Write Qabel Identities"
        android:protectionLevel="dangerous" />

    <application
        android:name="de.qabel.android.QabelBoxApplication"
        android:allowBackup="true"
        android:icon="@drawable/qabel_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <!--only for internal test feedback-->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        <activity android:name="net.hockeyapp.android.PaintActivity" />
        <!-- end only internal test feedback-->
        <activity
            android:name="de.qabel.android.activities.CreateIdentityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="de.qabel.android.activities.CreateAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="de.qabel.android.activities.WelcomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppVPITheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="de.qabel.android.activities.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="de.qabel.android.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.qabel.android.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <service
            android:name="de.qabel.android.services.QabelService"
            android:enabled="true"
            android:exported="true"
            android:permission="de.qabel.android.QABELSERVICE">
            <intent-filter>
                <action android:name="de.qabel.android.service.QabelService"></action>
            </intent-filter>
        </service>

        <service
            android:name="de.qabel.android.services.LocalQabelService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="de.qabel.android.service.LocalQabelService"></action>
            </intent-filter>
        </service>
        <service
            android:name="de.qabel.android.services.BoxSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name="de.qabel.android.services.BoxAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="de.qabel.android.services.QabelContentProvider"
            android:authorities="de.qabel.android.services.QabelContentProvider"
            android:exported="true"
            android:readPermission="de.qabel.android.QABEL_READ_RESOURCES"
            android:writePermission="de.qabel.android.QABEL_WRITE_RESOURCES">
            <path-permission
                android:path="/contacts"
                android:readPermission="de.qabel.android.QABEL_READ_CONTACTS" />
            <path-permission
                android:path="/identities"
                android:readPermission="de.qabel.android.QABEL_READ_IDENTITIES" />
        </provider>

        <provider
            android:name="de.qabel.android.providers.BoxProvider"
            android:authorities="de.qabel.android.providers.documents"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>

        </provider>
    </application>


</manifest>
