<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.qabel.qabelbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Contact sync -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name=".QABELSERVICE"
        android:label="Use QabelService"
        android:protectionLevel="dangerous" />

    <permission
        android:name=".QABEL_READ_RESOURCES"
        android:label="Read Qabel Resources"
        android:protectionLevel="dangerous" />
    <permission
        android:name=".QABEL_WRITE_RESOURCES"
        android:label="Write Qabel Resources"
        android:protectionLevel="dangerous" />

    <permission
        android:name=".QABEL_READ_CONTACTS"
        android:label="Read Qabel Contacts"
        android:protectionLevel="dangerous" />
    <permission
        android:name=".QABEL_WRITE_CONTACTS"
        android:label="Write Qabel Contacts"
        android:protectionLevel="dangerous" />

    <permission
        android:name=".QABEL_READ_IDENTITIES"
        android:label="Read Qabel Identities"
        android:protectionLevel="dangerous" />
    <permission
        android:name=".QABEL_WRITE_IDENTITIES"
        android:label="Write Qabel Identities"
        android:protectionLevel="dangerous" />

    <application
        android:name=".QabelBoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <!--only for internal test feedback-->
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        <activity android:name="net.hockeyapp.android.PaintActivity" />
        <!-- end only internal test feedback-->
        <activity
            android:name=".startup.activities.CreateIdentityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">>
        </activity>
        <activity
            android:name=".startup.activities.CreateAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">>
        </activity>
        <activity
            android:name=".box.views.FolderChooserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">>
        </activity>
        <activity
            android:name=".box.views.ExternalFileUploadActivity"
            android:label="@string/external_file_save"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.activities.WelcomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppVPITheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".startup.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.MainActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".viewer.ImageViewerActivity"
            android:configChanges="screenLayout|orientation"
            android:label="@string/headline_imageviewer"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".services.QabelSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".chat.services.QabelFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.QabelAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".chat.services.AndroidChatService" />
        <service android:name=".box.AndroidBoxService" />
        <service
            android:name=".index.AndroidIndexSyncService"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/contact_sync" />
        </service>

        <provider
            android:name=".box.provider.BoxProvider"
            android:authorities="${applicationId}.box.provider.documents"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>

        </provider>
        <provider
            android:name=".providers.InternalContentProvider"
            android:authorities="${applicationId}.providers.internal"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name=".providers.IndexContentProvider"
            android:authorities="${applicationId}.providers.index"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
    </application>


</manifest>
